---
name: 00 - MegaLinter

"on":
  workflow_dispatch:
    inputs:
      ref:
        description: "Git reference to lint"
        required: false
        default: "main"

jobs:
  megalinter:
    uses: ortelius/slsa-pipeline/.github/workflows/00-megalinter.yml@main
    with:
      ref: ${{ inputs.ref }}
    secrets: inherit
