---
name: 01 - Build Container Image

"on":
  workflow_dispatch:
    inputs:
      image_name:
        description: "Container image name"
        required: true
      image_tag:
        description: "Image tag"
        required: true
      registry:
        description: "Container registry"
        required: true
        default: "ghcr.io"
      dockerfile_path:
        description: "Path to Dockerfile"
        required: false
        default: "./Dockerfile"
      build_context:
        description: "Docker build context"
        required: false
        default: "."
      ref:
        description: "Git reference to build"
        required: false
        default: "main"

jobs:
  build:
    uses: ortelius/slsa-pipeline/.github/workflows/01-build-image.yml@main
    with:
      image_name: ${{ inputs.image_name }}
      image_tag: ${{ inputs.image_tag }}
      registry: ${{ inputs.registry }}
      dockerfile_path: ${{ inputs.dockerfile_path }}
      build_context: ${{ inputs.build_context }}
      ref: ${{ inputs.ref }}
    secrets:
      QUAY_USERID: ${{ secrets.QUAY_USERID }}
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
