---
name: 02-b - Sign Image

"on":
  workflow_dispatch:
    inputs:
      image_name:
        description: "Container image name"
        required: true
      image_digest:
        description: "Image digest"
        required: true
      registry:
        description: "Container registry"
        required: true
        default: "ghcr.io"

jobs:
  sign:
    uses: ortelius/slsa-pipeline/.github/workflows/02-b-sign-image.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      image_name: ${{ inputs.image_name }}
      image_digest: ${{ inputs.image_digest }}
      registry: ${{ inputs.registry }}
    secrets: inherit
