---
name: 02-c - Scan SBOM

"on":
  workflow_dispatch:
    inputs:
      sbom_artifact_name:
        description: "SBOM artifact name"
        required: true
      sbom_workflow_run_id:
        description: "SBOM workflow run ID"
        required: true

jobs:
  scan:
    uses: ortelius/slsa-pipeline/.github/workflows/02-c-scan-sbom.yml@main
    with:
      sbom_artifact_name: ${{ inputs.sbom_artifact_name }}
      sbom_workflow_run_id: ${{ inputs.sbom_workflow_run_id }}
    secrets: inherit
