---
name: 02 - Generate SBOM

"on":
  workflow_dispatch:
    inputs:
      image_name:
        description: "Container image name"
        required: true
      image_digest:
        description: "Image digest"
        required: true
      registry:
        description: "Container registry"
        required: true
        default: "ghcr.io"
      sbom_format:
        description: "SBOM format"
        required: false
        default: "cyclonedx-json"

permissions:
  contents: read
  packages: read

jobs:
  generate-sbom:
    runs-on: ubuntu-latest

    steps:
      - name: Install Trivy
        run: |
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.QUAY_USERID }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Generate SBOM
        run: |
          trivy image \
            --format ${{ inputs.sbom_format }} \
            --output sbom.cyclonedx.json \
            ${{ inputs.registry }}/${{ inputs.image_name }}@${{ inputs.image_digest }}

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: generate-sbom-${{ github.run_id }}
          path: |
            sbom.cyclonedx.json
          retention-days: 90