---
name: 03 - Attest SBOM

"on":
  workflow_dispatch:
    inputs:
      image_name:
        description: "Container image name"
        required: true
      image_digest:
        description: "Image digest"
        required: true
      registry:
        description: "Container registry"
        required: true
        default: "ghcr.io"
      sbom_artifact_name:
        description: "SBOM artifact name"
        required: true
      sbom_workflow_run_id:
        description: "SBOM workflow run ID"
        required: true

jobs:
  attest:
    uses: ortelius/slsa-pipeline/.github/workflows/03-attest-sbom.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
      actions: read
    with:
      image_name: ${{ inputs.image_name }}
      image_digest: ${{ inputs.image_digest }}
      registry: ${{ inputs.registry }}
      sbom_artifact_name: ${{ inputs.sbom_artifact_name }}
      sbom_workflow_run_id: ${{ inputs.sbom_workflow_run_id }}
    secrets: inherit
